*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Segoe UI', sans-serif;
    background:#eef2f7;

}
header{
    background:#ffffff;
    padding:20px;
    text-align:center;
    box-shadow:0 2px 10px rgba(0,0,0,.08);
}

header h1{
    color:#17375e;
    font-size:48px;
    font-weight:700;
}

.cabecalho{
    display:flex;
    justify-content:center;
    gap:28px;

    margin-bottom:15px;

    font-size:18px;
    font-weight:500;
}


.linha{
    display:flex;
    align-items:center;
    gap:4px;
    margin-bottom:10px;
}

.linha input{
    width:60px;
    height:50px;
    text-align:center;
    font-size:22px;
    border:1px solid #d1d5db;
    border-radius:6px;
}

.linha span{
    font-size:25px;
}

.inputs{
    width:auto;
    margin-right:0;
}

.resultado-container{
    width:220px;

    display:flex;
    flex-direction:column;
    align-items:center;

    margin-top:170px;
}
.resultado-container h2{
    margin: 15px;
}

#resultado{
    width:180px;
    height:100px;
    background:white;
    border:1px solid #d1d5db;
    border-radius:8px;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:45px;
    font-weight:bold;
    color:#17375e;

    margin-bottom:25px;
}
#btnLimpar{
    width:170px;
    height:45px;
    border:none;
    background:#0d6efd;
    color:white;
    font-size:18px;
    cursor:pointer;
    border-radius:4px;
}

#btnLimpar:hover{
    background:#0b5ed7;
}

.conteudo-calculadora{
    display:flex;
    justify-content:center;
    align-items:flex-start;

    gap:5px;
}

.card-header{
    text-align:center;

    margin-bottom:35px;
    padding-bottom:20px;

    border-bottom:1px solid #e5e7eb;
}

.card-header h1{
    color:#17375e;
    font-size:42px;
    font-weight:700;
}
.card-calculadora{
    background:#ffffff;

    width:700px;

    border-radius:20px;

    padding:40px;

    box-shadow:0 10px 30px rgba(0,0,0,.10);
}

.inputs{
    margin-right:0px;
}

.container{
    display:flex;
    justify-content:center;
    align-items:center;

    min-height:100vh;

    padding:20px;
}

.assinatura{
    width:100%;

    display:flex;
    justify-content:space-between;
    align-items:center;

    margin-top:25px;
    padding-top:20px;

    border-top:1px solid #e5e7eb;

    color:#64748b;
    font-size:13px;
}

.logo-rodape{

    width:60px;
    height:60px;
    object-fit:contain;
}

.logo-gm{

    width:90px;
    height:90px;        
    object-fit:contain;

}

.logo-manutencao{

    width:70px;
    height:70px;        
    object-fit:contain;

}

/* CELULAR */
@media (max-width: 768px){

    .card-calculadora{
        width:100%;
        padding:20px;
    }

    .conteudo-calculadora{
        flex-direction:column;
        align-items:center;
    }

    .resultado-container{
        margin-top:30px;
    }

    .imagem-lateral{
        margin-top:20px;
        margin-left:0;
    }

    .imagem-lateral img{
        width:150px;
        height:auto;
    }

    .card-header h1{
        font-size:32px;
    }

}
